body {
	position: relative;
	letter-spacing: .5px;
}

::selection {
  background: $red; /* WebKit/Blink Browsers */
  color: $black;
}
::-moz-selection {
  background: $red; /* Gecko Browsers */
  color: $black;
}

hr.wp-block-separator {
	margin: 2rem 0;
	border-bottom: 0;
}

h4 {
	font-weight: normal;
}

.wp-block-group {
	padding-left: 2rem;
	padding-right: 2rem;
	
	@include media-breakpoint-up(md) {
		padding-left: 0;
		padding-right: 0;
	}
}