.content-loop {
	margin-top: -4rem;
}

.blog-box {
	a {
		color: $primary;
		text-decoration: none;
	}

	&:hover {
		.btn {
			background: $primary;
		}
	}
}

.blog-img-container {
	max-height: 320px;

	@include media-breakpoint-between(md, lg) {
		max-height: 220px;
	}
}