.btn {
	&:hover {
		background: $red;
	}

	letter-spacing: .5px;

	&.active {
		background-color: $secondary;
	
		&:focus {
			outline: 0;
			box-shadow: none;
		}
	}
}

.gform_button {
	padding: .5rem 2rem;
	border: 0;
	color: $light;
	background: $darkblue;

	&:hover {
		background: $red;
	}
}