.tab-bar {
	button {
		background: transparent;
		font-size: 1.25rem;

		span {
			position: relative;
			&:before {
			    content: "";
    			position: absolute;
    			width: 100%;
    			height: 12px;
    			bottom: -18px;
    			left: 0;
    			background-color: $red;
    			visibility: hidden;
    			-webkit-transform: scaleX(0);
    			-ms-transform: scaleX(0);
    			transform: scaleX(0);
    			transition: all .2s ease-in-out 0s;
			}
	
			&:hover {
				&:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
    				-ms-transform: scaleX(1);
    				transform: scaleX(1);
				}
			}
		}

		&.active {
			span {
				&:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
    				-ms-transform: scaleX(1);
    				transform: scaleX(1);
				}	
			}
		}
	}
}

.about-nav {
	a {
		position: relative;
		padding-left: 12px;
		padding-right: 12px;
		color: $white;
		text-decoration: none;

		&:before {
		    content: "";
    		position: absolute;
    		width: 100%;
    		height: 12px;
    		bottom: -22px;
    		left: 0;
    		background-color: $red;
    		visibility: hidden;
    		-webkit-transform: scaleX(0);
    		-ms-transform: scaleX(0);
    		transform: scaleX(0);
    		transition: all .2s ease-in-out 0s;
		}

		&:hover {
			&:before {
				visibility: visible;
				-webkit-transform: scaleX(1);
    			-ms-transform: scaleX(1);
    			transform: scaleX(1);
			}
		}
	}

	.active {
		position: relative;
		padding-left: 12px;
		padding-right: 12px;
		&:before {
			content: "";
    		position: absolute;
    		width: 100%;
    		height: 12px;
    		bottom: -22px;
    		left: 0;
    		background-color: $red;
			visibility: visible;
			-webkit-transform: scaleX(1);
    		-ms-transform: scaleX(1);
    		transform: scaleX(1);
		}	
	}
}